

.paginationContainer {
    /* background-color: yellow; */
    margin: 1rem;
}

.paginationContainer button {
    margin: 0 0.2rem;
    font-size: 1.2rem;
    background-color: var(--secundary-color);
    border: 0.1rem solid var(--secundary-color);
    border-radius: 0.5rem;
    color: var(--background-color);

    box-shadow: 0 0.2rem 0.4rem rgb(0, 0, 0, 0.3);
}

.paginationContainer button:hover {
    background-color: var(--tertiary-color);
    transform: scale(1.5);
    border-radius: 0.3rem;
}
.paginationContainer button:focus {
    background-color: var(--tertiary-color);
    color: white;
    transform: scale(1.5);
    border-radius: 0.3rem;
}
