

.navBarContainer {
    /* background-color: rgb(0, 0, 0, 0.1); */
    background-color: rgba(63, 195, 128, 0.8);
    margin: 10px;
    padding: 0 2rem;
    height: 2.5rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 0.2rem 0.4rem rgb(0, 0, 0, 0.3);

}

.navBarContainer .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navBarContainer .link {
    color: hsl(0, 0%, 41%);;
    text-decoration: none;
    margin: 0 1rem 0 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.navBarContainer .link:hover {
    color: hsl(0, 0%, 8%);
    /*font-size: 1.5rem;*/ /* esto modifica el tamaño y mueve las pañabras*/
    transform: scale(1.2);
}





